includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: 6
	phpVersion: 80100
	scanFiles:
		- vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
		- vendor/php-stubs/wp-cli-stubs/wp-cli-tools-stubs.php
	earlyTerminatingMethodCalls:
		WP_CLI:
			- error
			- halt
	paths:
		- cr-relocate-db.php
		- uninstall.php
		- src
